/* global set */
:root {

  /* font color */
  --color-white:#ffffff;
  --color-black:#000000;
  --color-gray:#616161;
  --color-lightGray:#7c7979;


  /* font size */
  --size-small:1.5rem;
  --size-medium:3rem;
  --size-large:4rem;

  /* font weight */
  --weight-blod:bold;
  --weight-normal:normal;

  /* border radius */
  --border-radius: 10px;
}

/* Universal Tag */

html { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

section {
  /* padding:20vh; */
}

h1 {
  font-weight: var(--weight-blod);
  font-size: var(--size-large);
}

h2 {
  font-weight: var(--weight-blod);
  font-size: var(--size-medium);
}

h3 {
  font-weight: var(--weight-normal);
  font-size: var(--size-small);
}

hr {
  width: 20vh;
  height: 4px;
  border-radius: var(--border-radius);
  background-color: var(--color-gray);
  border: 0;
}

.navbar {
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-black);
  font-weight: var(--weight-blod);
  font-size: 1.5rem;
}

.navbar__logo {
  margin-left: 2rem;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item{
  margin:0rem 2rem;
  padding: 1rem 0rem;
  cursor: pointer;
}

/* home */

.home {
  display: flex;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.home.parallax{
  background-image: url("../images/banne2r.jpg");
}

/* About Us */

.about{
  text-align: center;
  margin:auto;
}

.about__description {
  width: 40vh;
  margin-bottom:10rem;
  word-wrap: break-word;
}

.about__item1,
.about__item2{
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  margin-top:2rem;
}

.about__item1{
  justify-content: left;
}

.about__item2{
  justify-content: right;
}

.about__item1.parallax {
  background-image: url("../images/banne2r.jpg");
}

.item1__description,
.item2__description {
  display: flex;
  background-color: var(--color-white);
  width: 40vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.about__item2.parallax {
  background-image: url("../images/banner.png");
}


/* Team */
.team {
  text-align: center;
  margin: auto;
}

.members {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.members.parallax {
  background-image: url("../images/banner.png");
}

.members__container {
  background-color: var(--color-gray);
  width: 50%;
}

.member {
  display: flex;
  background-color: pink;
  width: 15vw;
}

.member__avatar {
  width: 10rem;
}

.member__avatar > img {
  width: 100%;
  height: 25vh;
}

.member__profile {
  margin:auto
}

.member__career {
  width: 10rem;
  word-wrap: break-word;
  height: auto;
}